<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" name="{{this.widget.id}}">
    <p style="font-size: 14px;text-align: center;color: white;margin-top: 105px;">Loading Intranet widget</p>
</ngx-spinner>
<div *ngIf="this.newWidget != undefined" style="width: 100%; height: 100%; background: #eeeeee; text-align: center">
    <div *ngIf="this.newWidget != undefined && this.newWidget.type == 'GPA' ">
        <div style="padding-top: 30px">Your GPA</div>
        <div style="font-size: 40px; padding-top: 15px; color: #FF4B2B; font-weight: 500">{{this.newWidget.GPA}}</div>
    </div>
    <div *ngIf="this.newWidget != undefined && this.newWidget.type == 'credits' ">
        <div style="padding-top: 30px">Your crédits</div>
        <div style="font-size: 40px; padding-top: 15px; color: #FF4B2B; font-weight: 500">{{this.newWidget.credits}}</div>
    </div>
    <div *ngIf="this.newWidget != undefined && this.newWidget.type == 'image'" style="width: 100%; height: 100%">
        <img [src]="this.newWidget.image" style="object-fit: cover; object-position: center;; width: 100%; height: 100%" alt>
    </div>
</div>
