<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="height: 290px; padding-top: 20px">
            <div style="width: 100%; text-align: center;">
                <img src="assets/img/avatar.png" alt style="height: 100px; width: 100px; margin: auto;"
                     class="rounded-circle shadow-lg">

                <p class="text-center" style="color: #858f9b; margin-bottom: 0; margin-top: 20px">{{this.data.name}}</p>

                <span class="badge badge-pill"
                      style="color: white;background: #FF4B2B;font-weight: 500;padding-top: 5px;padding-bottom: 5px;padding-left: 20px;margin-top: 10px;padding-right: 20px;">{{this.data.role}}</span>

            </div>
        </mat-toolbar>
        <mat-divider style="width: 150px; margin: auto;"></mat-divider>
        <mat-nav-list>
            <a style="height: 100px" routerLink="/dashboard" mat-list-item>
                <div style="width: 100%; text-align: center; color: #b1bac3">
                    <i style="font-size: 20px" class="fas fa-home"></i>
                    <p style="margin-bottom: 0">Dashboard</p>
                </div>
            </a>
            <a style="height: 100px" mat-list-item>
                <div style="width: 100%; text-align: center;">
                    <i style="color: #FF4B2B; font-size: 20px" class="fas fa-cog"></i>
                    <p style="color: #FF4B2B; margin-bottom: 0">Services</p>
                </div>
            </a>
            <a *ngIf="this.data.role == 'King Admin'" routerLink="/member" style="height: 100px" mat-list-item>
                <div style="width: 100%; text-align: center;">
                    <i style="color: #b1bac3; font-size: 20px" class="fas fa-users-cog"></i>
                    <p style="color: #b1bac3; margin-bottom: 0">Members</p>
                </div>
            </a>

            <a style="height: 100px" (click)="logout()" mat-list-item>
                <div style="width: 100%; text-align: center;">
                    <i style="color: #b1bac3; font-size: 20px" class="fas fa-sign-out-alt"></i>
                    <p style="color: #b1bac3; margin-bottom: 0">Log Out</p>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background: white; height: 120px">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div>
                <div style="width: 100%">
                    <span style="color: #FF4B2B; font-size: 30px">Services</span>
                </div>
                <div style="width: 100%">
                    <span style="color: #b1bac3">{{myDate | amDateFormat:'LL'}}</span>
                </div>
            </div>
        </mat-toolbar>

        <div class="container-fluid">
            <div class="container">
                <div style="margin-top: 10%" class="row">
                    <div class="col-sm-3">
                        <div class="cardT text-center">
                            <div class="title">
                                <i class="fab fa-yammer" aria-hidden="true"></i>
                                <h2>Yammer</h2>
                            </div>
                            <div class="option">
                                <ul>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Widget group messages </li>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Widget thread </li>
                                </ul>
                            </div>
                            <a *ngIf="this.services.yammer.activated == 'false'" href="https://www.yammer.com/oauth2/authorize?client_id=LHqOYz3vFN6mwvQas20rhQ&response_type=code&redirect_uri=https://localhost:{{this.port}}/services?from=yammer">Activate</a>
                            <a style="color: green; background: #e1ffe1" *ngIf="this.services.yammer.activated == 'true'">Activated </a>
                        </div>
                    </div>
                    <!-- END Col one -->
                    <div class="col-sm-3">
                        <div class="cardT text-center">
                            <div class="title">
                                <i class="fab fa-github" aria-hidden="true"></i>
                                <h2>Github</h2>
                            </div>
                            <div class="option">
                                <ul>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Widget repository commits </li>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Widget repository issues </li>
                                </ul>
                            </div>
                            <a *ngIf="this.services.github.activated == 'false'" href="https://github.com/login/oauth/authorize?client_id=3820d97bb3f1476707c9&redirect_uri=https://localhost:{{this.port}}/services?from=github">Activate</a>
                            <a style="color: green; background: #e1ffe1" *ngIf="this.services.github.activated == 'true'">Activated </a>
                        </div>
                    </div>
                    <!-- END Col two -->
                    <div class="col-sm-3">
                        <div class="cardT text-center">
                            <div class="title">
                                <img src="assets/img/logo_epitech.png" alt/>
                                <h2>Intranet</h2>
                            </div>
                            <div class="option">
                                <ul>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Widget user informations </li>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Widget user modules </li>
                                </ul>
                            </div>
                            <a *ngIf="this.services.intra.activated == 'false'" (click)="openIntra()">Activate</a>
                            <a style="color: green; background: #e1ffe1" *ngIf="this.services.intra.activated == 'true'">Activated </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="cardT text-center">
                            <div class="title">
                                <i class="fab fa-trello" aria-hidden="true"></i>
                                <h2>Trello</h2>
                            </div>
                            <div class="option">
                                <ul>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Display lists in a table </li>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Display member tasks </li>
                                </ul>
                            </div>
                            <a *ngIf="this.services.trello.activated == 'false'" href="https://trello.com/1/authorize?name=Dashboard&scope=read&response_type=token&key=f4319a3120463a49dfe493eefb21db51&return_url=https://localhost:{{this.port}}/services?from=trello&expiration=never&callback_method=fragment">Activate </a>
                            <a style="color: green; background: #e1ffe1" *ngIf="this.services.trello.activated == 'true'">Activated </a>
                        </div>
                    </div>
                    <!-- END Col three -->
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #intra let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Synchronisation avec l'intranet EPITECH</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 50px">
        <div class="row">
            <div class="offset-2 col-md-8">
                <input [(ngModel)]="autologin.autologin" type="text" placeholder="Autologin Epitech" class="syncBar">
            </div>
        </div>
        <div id="accordeon" class="row" style="height: 60px; text-align: center; margin-top: 10px">
            <div class="offset-2 col-md-8">
                Votre autologin se récupère sur ce lien de l'intranet : <a href="https://intra.epitech.eu/admin/autolog" target="_blank">https://intra.epitech.eu/admin/autolog</a>.
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-md-8">
                <button (click)="connectServiceIntra()" style="background-color: #FF4B2B; width: 100%; color: white; margin-top: 40px" class="btn">Se connecter</button>
            </div>
        </div>
    </div>
</ng-template>
